
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
:root {
    --main-color-1: #F7F7FF;
    --main-color-2: #f97948;
    --main-color-3: #252422;
}

html, body {
    height:297mm;
    width:210mm;
}
body {
      -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
}
main {
    height: 100%;
    display: grid;
    grid-template-rows: 65px 110px 1fr 50px;
}
label {
    font-weight: 700;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    margin-top: 0.2rem;
}
.nav {
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 100%;
    margin-left: 2rem;
}
h2 {
    margin: 0.1rem 0 0.2rem 0;
    font-size: 1rem;
}
.add-margin {
    margin-top: 0.4rem;
    padding-top: 0.2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.459);
}

section div label {
    margin-right: 0.5rem;
}
.category, .category-end {
    padding: 0rem 1.3rem 0.5rem 1.3rem;
}
.category-end {
    margin-top: 0.4rem;
    border: none;
}
.sub-category {
    font-size: 0.8rem;
    margin: 0.2rem 1rem 0rem 1rem;
    padding: 0.2rem 0.4rem 0rem 1rem;
    border: 1px solid var(--main-color-3);
    border-top: 2px solid var(--main-color-3);
    break-inside: avoid;
}
.sub-category > div {
    display: flex;
    margin-bottom: 0.3rem;
}
.sub-category > div > label {
    margin-left: 1rem;
}
button {
    border: 1px solid var(--main-color-2);
    border-radius: 0.3rem;
    height: 4rem;
    width: 15rem;
    background-color: var(--main-color-2);
    color: var(--main-color-1);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
#first > section {
    align-content: center;
    border: none;
}
#first {
        display: grid;
        grid-template-columns: 1fr 1fr;
}
#first > section > div > * {
    font-size: 0.9rem;
    margin: 0rem;
    margin-left: 0.5rem;
}
#logo {
    height: 3.2rem;
    margin-left: 1.5rem;
}
@media print {
    button {
        display: none;
    }
    .nav {
        display: none;
    }
    html, body {
        height: auto;
    }
}
@page {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
