:root {
    --main-bg-color-dark: #161B25FF;
    --main-color-1-dark: #393E46;
    --main-color-2-dark: #535964;
    --main-color-3-dark: #DFD0B8;

    --main-bg-color-light: #89A8B2;
    --main-color-1-light: #B3C8CF;
    --main-color-2-light: #E5E1DA;
    --main-color-3-light: #F1F0E8;
}

body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
a {
    text-decoration: none;
    color: var(--main-color-2-light)
}
a:visited{
    text-decoration: none;
    color: var(--main-color-2-light)
}
a:hover{
    text-decoration: none;
    color: var(--main-color-2-light)
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    background-color: var(--main-bg-color-dark);
    height: 100%;
    overflow-y: scroll;
}

.header {
    grid-row: 1 / 2;
    background: #161B25FF;
    background: linear-gradient(338deg,rgba(22, 27, 37, 1) 45%, rgba(61, 71, 90, 1) 68%);
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: 10px 10px 25px black;
}
    
.header > img{
    height: 85px;
    width: 85px;
    margin-left: auto;
}
.header > h1 {
    margin-right: auto;
    margin-left: 5px;
    color: var(--main-color-2-light);
}

.main, .main-document {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    color: var(--main-color-2-light);
}

.main-content, .main-content-document {
    margin-top: 3rem;
    max-width: 60%;
    height: 70%;
    background-color: var(--main-color-1-dark);
    color: var(--main-color-2-light);
    padding-top: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: scroll;
}



.main-content > p {
    margin-top: 7.5rem;
    margin-left: 5rem;
    width: 30%;
}
.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: left;
    margin-left: 5rem;
}
.menu-buttons > a {
    border: none;
    border-radius: 5px;
    background-color: var(--main-color-2-light);
    color: var(--main-bg-color-dark);
    font-size: large;
    font-weight: 700;
    height: 3rem;
    width: 10rem;
    text-align: center;
}

.footer, .footer-c{
    background-color: var(--main-color-1-dark);
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--main-color-2-light);
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-c {
    justify-content: end;
}
.about {
    color: var(--main-color-2-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about > h2, .about > p {
    width: 50%;
    margin-top: 1rem;
}

.main-content-document {
    height: 90%;
    max-width: 90%;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    overflow-y: scroll;
}

.main-document-head {
    flex-grow: 1;
    display: grid;
    padding: 5px;
    padding-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-items: center;
}
.main-document-head > h2, .main-document-head > h3 {
    margin-top: 5px;
    
}
.main-document-head > h2 {
   font-size: 1.2rem;
   
}
.main-document-head > h3 {
   font-size: smaller;
}

.back-btn {
    justify-self: left;
    margin-left: 0.8rem;
    padding-top: 0.2rem;
}
.document-title {
    font-size: larger;
    font-weight: 700;
}
.categories {
    padding: 1rem;
    width: 15rem;
    align-content: center;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
.categories:hover {
    background-color: var(--main-bg-color-dark);
    cursor: pointer;
}
.content-container {
    background-color: var(--main-color-2-dark);
    border: 1px solid var(--main-bg-color-dark);
    box-shadow: 5px 5px 25px var(--main-bg-color-dark);
    border-radius: 5px;
    margin: 0px 1rem 1rem 1rem;
    padding: 0 1rem 0 1rem;
    overflow-y: scroll;
    font-weight: 200;
}
.hide-content {
    display: none;
}




/* MOBILE CONVERSION */

@media only screen and (max-width: 767px) {
    .main-content, .main-content-document{
        max-width: 95%;
        border-radius: 0px;
        margin: 5px;
        height: 100%;
    }
    .footer {
        background-color: var(--main-bg-color-dark);
    }
    .main-document-head {
        display: flex;
        flex-direction: column;
        
    }
}