:root {
    --main-color-1: #f9f2e2;
    --main-color-2: #dccbb4;
    --main-color-3: #e5a67c;
    --main-color-4: #252422;
    --main-color-5: #f97948;
    --main-color-6: #ffffff;
    --main-color-6-blur: #ffffff;
}
.filter-color-4 {
    filter: invert(10%) sepia(8%) saturate(379%) hue-rotate(2deg) brightness(98%) contrast(90%);
}
ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link, a:visited, a {
    text-decoration: none;
    color: inherit;
}
body {
    height: 100vh;
}
.header {
    background-color: aqua;
    text-align: center;
    align-content: center;
}
.header, .footer {
    background-color: var(--main-color-5);
    color: var(--main-color-1);
}
.content {
    height: 100%;
    display: grid;
    grid-template-rows: 65px 50px 1fr 30px;
    background-color: var(--main-color-1);
}
.page-content > ul {
    display: grid;
    justify-content: center;
    padding-top: 4rem;
}
.hidden-links {
    font-weight: 400;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;

}
.show-links {
    display: none;
}
#first-link {
    padding-top: 1rem;
}
.page-content > ul > li {
    margin-top: 1rem;
    font-weight: 700;
}
#create-2:hover, #create:hover {
    cursor: pointer;
}
#home::before {
    background-image: url("/resources/home-1-svgrepo-com.svg");
}
#create::before, #create-2::before {
    background-image: url("resources/edit-3-svgrepo-com.svg");
}
#load::before, #load-2::before {
    background-image: url("resources/save-svgrepo-com.svg");
}
#settings::before {
    background-image: url("/resources/settings-svgrepo-com.svg");
}
#dark-mode::before {
    background-image: url("/resources/moon-svgrepo-com.svg");
}
#load::before, #create::before {
    background-size: 60px 60px;
    display: inline-block;
    width: 60px; 
    height: 60px;
    content:"";
    position: relative;
    top: 20px;
    right: 1rem;
    
}
#create-2::before, #load-2::before, #settings::before, #dark-mode::before, #home::before {
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    position: relative;
    top: 13px;
    right: 1rem;
    filter:brightness(0) saturate(100%) invert(10%) sepia(8%) saturate(379%) hue-rotate(2deg) brightness(98%) contrast(90%);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 7rem;
    overflow-x: hidden;
    transition: 0.30s;
    background-color: var(--main-color-1);
    color: var(--main-color-4);
    border-radius: 0 1rem 1rem 0;
    box-shadow: 1px 1px 7px var(--main-color-4);
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.sidenav a, .sidenav p {
    padding-left: 3rem;
    font-weight: 700;
}

#coming-soon{
    margin-left: 1.2rem;
}

#menu-button {
    position: relative;
    z-index: 2;
    width: none;
    transition-duration: 0.35s;
}
.toggle-sidenav {
    width: 65%;
}
.move-button {
    transform: translateX(180px);
}
#menu-button {
    height: 55px;
    width: 55px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    font-size: smaller;
    align-items: center;
}
.about-text {
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem 0 2rem;
}
