@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --color-main-bg: #f5f6fa;
  --color-main-gray: #6b5e57;
  --color-main-gray-hover: #343949d0;
  --color-main-dark-gray: #1a1d27;
  --color-main-orange: #e8520a;
  --color-main-orange-hover: #aa3b07;
  --color-main-inactive: #8b8fa8;
}

body {
  font-family: var(--font-sans);
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@utility animate-fade-out {
  animation: fade-out 0.3s ease-out;
}

@utility animate-fade-in {
  animation: fade-in 0.4s ease-in;
}
